PORT=10000

GMAIL_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GMAIL_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GMAIL_REDIRECT_URI=https://certichain-1-xc8l.onrender.com/api/email/google/callback
GMAIL_REFRESH_TOKEN=YOUR_GOOGLE_REFRESH_TOKEN

GMAIL_SENDER_EMAIL=praveen.kumaran0409@gmail.com
GMAIL_FROM_NAME=CertiChain

FRONTEND_URL=https://certichain-livid.vercel.app

MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING
